
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color:Gold ;
}

div{
  width: 600px;
  margin: 0 auto;
  background-color: MediumSeaGreen;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: MediumSeaGreen;
  text-shadow: 3px 3px 1px black;
}
h2 {
  margin: 0;
  padding: 20px 0;
  color:Gold;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
footer
{
	vertical-align:bottom ;
    	background-color: darkgrey;
   	color: green;
    	text-align: center;
    	padding: 30px;
}